* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}
/* Apply Root Variables */

:root {
    --Turquoise: #27cba8;
    --White: #ffffff;
    --Grey: #666;
}
h2 {
    Font size: 40px;
    margin: 0;
    text-align: start;
    vertical-align: bottom;
}

/* Apply Styles to <Header> */
    header {
        background-color: var(--Grey);
        padding: 20px 35px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
    }
        header h1 {
            font-weight: bolder;
            font-size: 50px;
            color: var(--Turquoise);
            margin: 0;
            display: inline;
        }

        header a {
            text-decoration: none;
            color: var(--Turquoise);
        }
        header nav {
            margin: 7px 0;
        }
        header nav ul {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            list-style: none;
        }
        header nav ul li a {
            margin: 0 30px;
            font-weight: lighter;
            font-size: 1vw;
            text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
        }
        header nav ul li a:hover {
            background: var(--White);
            color: var(--Turquoise);
            border-radius: 5px;
            text-shadow: none;
          }
/* Apply Styles to <Body> */
        body {
            color: var(--Grey);
            font-family: 'Poppins', Helvetica, Arial, Lucida, sans-serif;
        }
        footer {
            background: var(--Turquoise);
            width: 100%;
            padding: 40px 35px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            }
        footer h3 {
            color: var(--Grey);
            font-size: 30px;
            text-align: right;
            }
        section {
            padding: 60px;
            }

/* Apply Styles to Hero Section */
    .hero {
        background-image: url("../images/kelsc-logo.jpg");
        background-size:auto;
        background-position: left;
        display: flex;
        justify-content: left;
        flex-wrap: wrap;
        align-items: flex-start;
        background-attachment: fixed;
        background-position:25%;
        }

/* End Styles to Hero Section */

/* Start Section Formatting */
.section-title {
    font-size: 48px;
    color: var(--Turquoise);
    border-bottom: 3px solid;
    padding-bottom: 20px;
    text-align: left;
    margin: 0 auto 35 px auto;
    width: 50%
}
.primary {
    border-color: var(--Grey);
}
.secondary {
    border-color: var(--Grey);
    font-size: 25px;
}
/* End Section Formatting */ 


/* About Section Style Start */}
.intro {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.intro p {
    line-height: 1.7;
    color: var(--Grey);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left;
}
.intro a {
    text-decoration: none;
    color: var(--Turquoise);
    font-size: larger;
}
/* About Section Style End */

/* Ventures  Section Style Start */
.business {
    background: var(--Grey);
}
.business p {
    line-height: 1.7;
    color: var(--Turquoise);
    width: 80%;
    font-size: 20px;
    margin: 0 auto;
    text-align: left; 
}
.business ul li a {
    text-decoration: none;
    color: var(--White);
    font-size: larger;
}

/* Ventures Section Style End */

/* Interests Section Style Start */
.hobbies p {
    line-height: 1.7;
    color: var(--Grey);
    width: 80%;
    font-size: 20px;
    margin: 0 auto; 
    text-align: left;
}
/* Interests Section Style End */

/* Development Projects Section Style Start */
.development {
    background: var(--Grey);
}
.development p {
    line-height: 1.7;
    color: var(--Turquoise);
    width: 80%;
    font-size: 20px;
    margin: 0 auto; 
    text-align: left;
}
.development a {
    text-decoration: none;
    color: var(--White);
}
/* Development Projects Section Style End */

/* Contact Section Style Start */
.engage a {
    text-decoration: none;
    color: var(--Turquoise)
}
/* Contact Section Style End */

/* Image Formatting */
        img {
            border: var(--Grey);
        }
 /* General Formatting */
 .flex-row {
     display: flex;
 }

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
    header {
      padding-bottom: 0;
      justify-content: center;
      position: relative;
    }

    header h1 {
      width: 100%;
      text-align: center;
    }

    header nav ul {
      margin-top: 20px;
      width: 100%;
      justify-content: center;
    }

    header nav ul li a {
      font-size: 20px;
    }    

    footer h2, footer div {
      text-align: center;
      width: 100%;
    }

  /* MEDIA QUERY FOR TABLETS AND SMALLER */
  @media screen and (max-width: 768px) {


  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
  @media screen and (max-width: 575px) {
    .section-title {
      width: 75%;
    }
  
    .intro p {
      width: 100%;
    }
  

